xml/AlumnoEjemplo/AlumnoEjemplo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="alumno" type="alumnoTipo"/>

<xs:complexType>
    <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="apellidos" type="xs:string"/>
    </xs:sequence>
</xs:complexType>

<xs:complexType>
    <xs:complexContent>
        <xs:extension base="personaTipo" >
            <xs:sequence>
                <xs:element name="nie" type="xs:string"/>
                <xs:element name="curso" type="xs:string"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
</xs:complexType>

</xs:schema>